.button_box {
  position: absolute;
  bottom: 10%;
  padding-left: 10px;
}
.button_box2 {
  position: absolute;
  right: 0px;
  bottom: 80px;
}
.Route {
  max-height: 75%;
  width: calc(100%);
  overflow: auto;
  background-color: white;
  padding: 10px;
  pointer-events: auto;
  position: absolute;
  z-index: 2;
}
.Button {
  background-color: white;
  border: none;
  color: black;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  clear: both;
  display: inline-block;
  background-repeat: no-repeat;
  float: none !important;
}
#Btn4,
#Btn10, #Btn5, #Btn6 {
  float: right !important;
}
.Button:hover,
.Button1:hover {
  cursor: pointer;
  background-color: #0060ff;
  border: none;
  color: white;
}
.active {
  background-color: #4285f4;
  color: white;
}
body {
  padding: 0;
  margin: 0;
}
html,
body,
#map {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100vw;
}
.mq-attribution-control,
.mq-logo-control,
.leaflet-control-attribution {
  display: none !important;
}

/*zoek balk*/
.leaflet-top, .leaflet-left{
  left: 25px;
  width: 100%;
}
.geocoder-control{
  width: 100% !important;
}
.geocoder-control-input {
  width: calc(100% - 40px) !important;
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  top: -10px;
  font-size: 17px;
  border: none !important;
}
.gecoder-control-input:focus{
  width: calc(100% - 25px)
}
.gecoder-control-input:hover {
  background: #ccc;
}
#map {
  z-index: 0;
  position: absolute !important;
}
.sidenav_box{
  margin: 10px;
  width: 20%;
  background-color: white;
}
@media only screen and (max-width: 600px) {
  .sidenav_box{
    width: calc(100% - 70px);
  }
}